{
	"id": "gridappsd-sensor-simulator",
	"description": "GridAPPS-D Sensor Simulation Application",
	"creator": "PNNL",
	"inputs": [],
	"outputs": [],
	"static_args": ["(simulationId)", "(request)"],
	"type": "PYTHON",
	"execution_path": "/gridappsd/services/gridappsd-sensor-simulator/sensor_simulator.py",
	"launch_on_startup": true,
	"multiple_instances": true,
	"environmentVariables": [],
	"user_input": {
		"sensors-config": {
			"help": "Enter dictionary of mrid :qto configuration mapping for the sensors",
			"help_example": {
				"_001cc221-d6e6-485d-bdcc-b84cb643d1ec": {
					"nominal-voltage": 100,
					"perunit-confidence": 0.01,
					"aggregation-interval": 30,
					"perunit-dropping": 0.01
				},
				"_0031ff7c-5140-47cf-b750-0146bb3d9024": {},
				"_00313f7c-5140-47cf-b750-0146bb3d9024": {
					"nominal-voltage": 35
				}
			},
			"type": "object",
			"default_value": {}
		},
		"default-perunit-configidence-rate": {
			"help": "Set the default confidence rate of the equipment",
			"help_example": 0.01,
			"type": "float",
			"max_value": 0.1,
			"min_value": 0.0,
			"default_value": 0.01
		},
		"default-aggregation-interval": {
			"help": "Aggregation period in seconds",
			"help_example": 0.01,
			"type": "float",
			"default_value": 30
		},
		"default-drop-rate": {
			"help": "Aggregation period in seconds",
			"help_example": 0.01,
			"default_value": 30,
			"type": "float"
		},
		"passthrough-if-not-specified": {
			"help": "Set to true to have measurements pass through if they aren't specified in sensor-config",
			"help_example": true,
			"default_value": true,
			"type": "bool"
		},
		"random-seed": {
			"help": "For reproducible results specify a random seed > 0",
			"help_example": 500,
			"default_value": 0,
			"type": "int"
		}
	}
}