{
	"id": "gridappsd-sensor-simulator",
	"description": "GridAPPS-D Sensor Simulation Application",
	"creator": "PNNL",
	"inputs": [],
	"outputs": [],
	"static_args": ["(simulationId)", "(request)"],
	"type": "PYTHON",
	"execution_path": "/gridappsd/services/gridappsd-sensor-simulator/sensor_simulator.py",
	"launch_on_startup": true,
	"multiple_instances": true,
	"environmentVariables": [],
	"user_input": {
		"sensors-config": {
			"help": "Enter dictionary of sensor mrid configuration mapping for the sensors. The example is for the 123 node system",
			"help_example": {
				"_001cc221-d6e6-485d-bdcc-b84cb643d1ec": {
					"nominal-voltage": 100,
					"perunit-confidence-band": 0.95,
					"aggregation-interval": 30,
					"perunit-drop-rate": 0.01
				},
				"_0031ff7c-5140-47cf-b750-0146bb3d9024": {},
				"_00313f7c-5140-47cf-b750-0146bb3d9024": {
					"nominal-voltage": 35
				}
			},
			"type": "object",
			"default_value": {}
		},
		"default-perunit-confidence-band": {
			"help": "Set 95 percent confidence band (0.02 would be +/- 2% band)",
			"help_example": 0.02,
			"type": "int",
			"max_value": 0.10,
			"min_value": 0,
			"default_value": 0.02
		},
		"default-aggregation-interval": {
			"help": "Aggregation period in seconds, a 0 interval means no aggregation.",
			"help_example": 30,
			"type": "float",
			"default_value": 30
		},
		"default-normal-value": {
			"help": "The normal value of voltage (note currently tied to magnitude of sensor value)",
			"help_example": 100,
			"type": "int",
			"default_value": 100
		},
		"default-perunit-drop-rate": {
			"help": "Sets the default perunit drop rate for the equipment",
			"help_example": 0.01,
			"default_value": 0.05,
			"max_value": 0.10,
			"min_value": 0.0,
			"type": "float"
		},
		"passthrough-if-not-specified": {
			"help": "Set to true to have measurements pass through if they aren't specified in sensor-config",
			"help_example": false,
			"default_value": false,
			"type": "bool"
		},
		"random-seed": {
			"help": "For reproducible results specify a random seed > 0",
			"help_example": 500,
			"default_value": 0,
			"min_value": 0,
			"type": "int"
		}
	}
}