{
    "id":"gridappsd-sensor-simulator",
    "description":"GridAPPS-D Sensor Simulation Application",
    "creator":"PNNL",
    "inputs":[],
    "outputs":[],
    "static_args": ["(simulationId)"],
    "type":"PYTHON",
    "execution_path": "sensor_simulator.py",
    "launch_on_startup":false,
    "multiple_instances":true,
    "environmentVariables":[]
}
